/* Google fonts import */
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
</style>

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Noto Sans Thai', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans Thai', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/*Header*/
header {
    background-color: #cacfd6;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

header a {
    text-decoration: none;
    color: inherit;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

#menu li.active {
    border-bottom: 1px solid #3a3a3a;

}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #cacfd6;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/*Nav toggle*/
#nav-switch:checked~nav {
    display: block;
}

#nav-switch {
    display: none;
}

.nav-switch-label {
    font-size: 2rem;
}

/*Main content*/
main {

    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/simple-cross.jpg") no-repeat center center/cover;
    position: relative;

}


#cover-text {
    background-color: #2d3319;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#cover-text>h2,
#cover-text>h3,
#cover-text>h4,
#cover-text>p {
    color: #ffffff;
}

/*Chosen section*/
#chosen {
    background-color: #cacfd6;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
    text-align: left;
    font-size: 140%;
}

#chosen>h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 150%;

}

/*Arguments section*/
#arguments {
    width: 90%;
    margin: 20px auto;
}

#arguments h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#immanuel>div,
#jesus>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#blessings p {
    padding: 0 20px;
}

#blessings hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}



#times {
    /* Responsiveness without a media query */
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: #453F3C;
    padding: 15px;
    text-align: center;
    /* This will not wrap on screen less than 400px wide. 
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;
}

#times h3 {
    /* override the heading color set in general styles */
    color: #fafafa;
}

/*About Page*/
#main{
    height: 600px;
    width: 100%;
    background: url("../images/quiet-time.jpg") no-repeat center center/cover;
    position: relative;
}
#aboutcover{
    background-color: #57737A;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#aboutcover>h1
{
    color:#ffffff;
    text-align: center;
    font-size: 180%;
      
}
/* Who we are Section*/
#church{
    background-color: #b0c0bc;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
    text-align: justify;
    font-size: 140%;
}
#church>h2{
    margin-bottom: 20px;
    text-align: left;
    font-size: 150%;

}
#profile{
    text-align: justify;
    list-style-position: inside;
    text-align-last:auto ;
   }

#profilecovertext {
    background-color: #a7a7a9;
    font-size: 130%;
    position: absolute;
    padding: 25px 50px 75px 100px;
    text-align: end;
    float: inline-end;
}
#profilecovertext h2{
    text-align: end;
    font-size:120%;
}
/* Beliefs, Mission & Vision section */
#bmv{
    width: 90%;
    margin: 20px auto;
}
#bmv h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#basics>div,
#mission>div,
#vision>div{
    line-height: 20px;
    margin-bottom: 20px;
}
/* Pastor Section */
#pastor {
    background-color: #B0C0BC;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
    text-align: center;
    display: block;
}
#pastor hr{
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#pastor-image{
    height: 90vw;
    width: 90vw;
    background: url("../images/ajarnandhusband.jpg") no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    display:block;
    margin-left: auto;
  margin-right: auto;
}
#pastor h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 120%;
}


/*Prayer Request page*/

#prayer {
    background: url("../images/heaven.jpg");
    flex-grow: 1;
    padding: 50px 20% 0 20%;
    clear:left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

/*Form*/
#prayerrequest-form {
    margin: 100px 10% 0 0;
    color: #ffffff;
    background-color: rgba(13, 9, 22, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;

}

#prayerrequest-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #517664;
    color: #fafafa;
}

/* Thank you page */
#grateful {
      background: url("../images/open-bible.png") no-repeat center center/cover;
      flex-grow: 1;
      padding: 50px 0% 0 20%;
      clear:left;
      height: 900px;
      object-fit: cover;
      position: relative;
      margin: 0;
    box-shadow: 0 2px 2px #3a3a3a;

      
}
#prayeranswer{
    visibility: hidden;
}

#appreciation{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #2D3319;
  border-radius: 2px;
}
#appreciation h2{
    color: #ffffff;
}
#returnbutton{
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #517664;
    color: #fafafa;
}



/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks li {
    font-size: 160%;
    padding: 5%;
    color: #2d3319;

}

#copy {
    float: left;
    color: #2d3319;
}



/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-switch-label {
        display: none;
    }

    #logo {

        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        /* Push main content down to accommodate larger header*/
        margin-top: 79px;

    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;

    }

    /* Arguments section */
    #immanuel,
    #jesus {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #immanuel>div,
    #jesus>div {
        width: 75%;
    }

    #jesus>div {
        text-align: end;
        align-self: flex-end;
    }

   }

/* Prayer Request page */
#prayerrequest {
    background-position: center;
    position: relative;
}

#prayerrequest-form {
    position: absolute;
    max-width: 400px;
    left: 10%;
    top: 150px;
}

.text-input:hover {
    border-color: #2D3319;
}

.send-button:hover {
    background-color: #fafafa;
    color: #2D3319;
}

/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }


}


@media screen and (min-width: 1200px) {

    /*Arguments section*/
    #blessings {
        display: flex;
        flex-direction: row;
    }

    #blessings>div {
        flex: 1;
    }

    #blessings-image {
        order: 0
    }

    #jesus {
        order: 1;
    }

    #jesus>div {
        align-self: flex-start;
    }

    #immanuel>div {
        align-self: flex-end;
    }

}